*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: "Tangsel";
    src: url("../fonts/Tangsel.woff2") format("woff2"), url("../fonts/Tangsel.woff") format("woff");
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: #333;
    color: white;
    font-family: Tangsel;
}

body:before {
    position: fixed;
    animation: grain 8s steps(10) infinite;
    background-image: url(../images/noise.png);
    content: "";
    height: 300%;
    left: -50%;
    opacity: 1;
    top: -100%;
    width: 300%;
    pointer-events: none;
    z-index: 100;
}

@keyframes grain {

    0%,
    to {
        transform: translate(0)
    }

    10% {
        transform: translate(-5%, -10%)
    }

    20% {
        transform: translate(-15%, 5%)
    }

    30% {
        transform: translate(7%, -25%)
    }

    40% {
        transform: translate(-5%, 25%)
    }

    50% {
        transform: translate(-15%, 10%)
    }

    60% {
        transform: translate(15%)
    }

    70% {
        transform: translateY(15%)
    }

    80% {
        transform: translate(3%, 35%)
    }

    90% {
        transform: translate(-10%, 10%)
    }
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #333;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img {
    height: 25%;
}

#earth_div {
    top: 0;
    right: 0;
    bottom: 0;
    color: #333;
    left: -18%;
    position: absolute !important;
}

.cesium-credit-textContainer:before {
    content: '' !important;
}

header {
    position: relative;
    z-index: 100;
    padding: 15px;
    padding-top: 0;
}

header .separator {
    height: 2px;
    width: 95%;
    background-color: white;
}

.div2 ul {
    position: absolute;
    list-style: none;
    gap: 25px;
    display: flex;
    flex-direction: column;
}

.div2 ul li button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -1px -40px 2px rgba(206,206,206,0);
}

.div2 ul li button:hover {
    transform: scale(1.3);
    transition: all ease-in-out 0.3s;
}

.div2 ul li .activeyear {
    font-weight: bold;
    transform: scale(1.5);
}


.div4 {
    position: relative;
    z-index: 5;
}

.we-pm-icon {
    cursor: pointer;
    /* background-image: url(../images/point_bleu.png) !important; */
}


.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}

.div1 {
    grid-area: 1 / 1 / 2 / 8;
    display: flex;
    justify-content: space-between;
}

.div1 img {
    margin-left: 2%;
    width: 6.7%;
}

.div1 button {
    margin-top: 15px;
    position: relative;
    z-index: 5;
    width: 4%;
    background: transparent;
    border: none;
    margin-right: 2%;
    height: 50px;
    cursor: pointer;
}

.div1 button:active {
    transform: scale(0.9);
}

.div1 button img {
    width: 100%;
    height: auto;
}

.div2 {
    grid-area: 1 / 1 / 9 / 2;
    display: flex;
    align-items: center;
    z-index: 2;
}

.div3 {
    grid-area: 3 / 2 / 9 / 6;
}

.div4 {
    grid-area: 2 / 6 / 7 / 8;
    text-align: right;
    margin-right: 10%;
}

.div4 h3 {
    font-size: 1.6em;
    margin-top: 0;
    margin-bottom: 2%;
}

.info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.info .annee {
    margin-right: 12%;
}

#astrodate,
#astropays {
    font-size: 1.4em;
    font-weight: bold;
}

.div4 svg {
    margin-top: 4%;
    transform: translate(-3%, 0px);
}

.div5 {
    grid-area: 7 / 6 / 9 / 8;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 2%;
}

.div5 .line {
    width: 15%;
    margin-right: 4%;
    margin-bottom: 4%;
    border: 1px solid #FFFFFF;
    background-color: white;
}

.div5 ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    margin-top: 0px;
}

.div5 ul li {
    display: flex;
    flex-direction: row-reverse;
    text-align: end;
    align-items: baseline;
}

.div5 ul li p {
    font-size: 0.8em;
}

.div5 ul li img {
    width: 15%;
}

.div6 {
    grid-area: 2 / 2 / 3 / 7;
}

.hidden-modal {
    display: none !important;
}

.popup{
    overflow: auto;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212121;
    z-index: 100;
    padding: 3%;
}

.popup #popupClose{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 0;
    right: 15px;
    background-color: transparent;
    border: none;
    font-size: 10vh;
    color: rgba(255, 255, 255, 0.89);
    cursor: pointer;
    font-weight: 200;
}

.popup #popupClose:active{
    transform: scale(0.9);
}

.popup .com_sources {
    display: flex;
    flex-direction: row;
    gap: 6%;
    justify-content: space-between;
}

.popup .com, .popup .sources {
    width: 45%;
}

.popup .com p {
    margin-top: 6%;
}

.popup .js {
    margin: 4% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup .js ul {
    padding-left: 0;
}

.popup p {
    line-height: 23px;
    font-family: system-ui;
    font-size: 1.1em;
}

.popup h3 {
    width: fit-content;
    border-bottom: solid white 1px;
}

.popup a {
    color: white;
    font-family: system-ui;
    font-size: 1.1em;
    transition: 0.2s ease-out;
}

.popup a:hover {
    color: rgb(153, 153, 153);
    transition: 0.2s ease-out;
}

.popup h2 {
    margin-top: 3.5%
}

.popup ul {
    padding-left: 25px;
}

.popup ul li {
    list-style: square;
    margin: 1.2% 0;
}

.popup ul li a {
    color: white;
    font-family: system-ui;
    font-size: 1.1em;
}

@media only screen and (max-width: 1080px) {

    .div1 img {
        margin-left: 2%;
        width: auto;
        height: 100px;
    }

    .div1 button {
        width: 5.5%;
    }

    .div4 {
        grid-area: 2 / 6 / 7 / 9 !important;
    }

    .parent {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 9;
    }

    .div2 {
        grid-area: 2 / 1 / 9 / 2;
    }

    .div2 ul li button {
        font-size: 1.2rem;
    }

    .div3 {
        grid-area: 2 / 2 / 7 / 6;
    }

    .div4 {
        grid-area: 3 / 6 / 7 / 8;
    }

    .annee p,
    .pays p {
        font-size: 0.8em;
    }

    #astromission {
        font-size: 0.9em;
        text-align: end;
    }

    #astrodate,
    #astropays {
        font-size: 1.1em;
    }

    .div4 h3 {
        font-size: 1.3em;
        text-align: end;
    }

    .div4 .info {
        justify-content: flex-end;
    }

    .div5 {
        grid-area: 8 / 2 / 9 / 8;
        z-index: 5;
    }

    .line {
        display: none;
    }

    .div5 ul {
        list-style: none;
        display: flex;
        margin-bottom: 0px;
        margin-top: 0px;
        flex-direction: row;
    }

    .div5 ul li {
        display: flex;
        flex-direction: row;
        text-align: initial;
        align-items: baseline;
    }

    .div5 ul li p {
        font-weight: bold;
    }

}

@media only screen and (max-width: 800px) {

    .div1 button img {
        width: auto;
        height: 100%;
    }

    .div1 button {
        margin-right: 6%;
        width: 10%;
    }

    .div2 ul {
        gap: 5px;
    }

    .div2 ul li button {
        font-size: 3.5vw;
        font-weight: 500;
    }

    #earth_div {
        left: 0%;
    }

    .parent {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 9;
    }

    .div2 {
        grid-area: 3 / 1 / 4 / 9 !important;
    }

    .div2 ul {
        position: initial;
        list-style: none;
        gap: 25px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0;
        padding-left: 0px;
    }

    .div3 {
        grid-area: 4 / 2 / 8 / 8;
        height: 45vh;
    }

    .div4 {
        grid-area: 9 / 2 / 10 / 9 !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15%;
        padding-bottom: 15%;
    }

    .div4 h3 {
        text-align: center;
    }

    .div4 .info {
        justify-content: center;
        gap: 30%;
    }

    .div5 ul {
        padding-left: 0;
    }

    #astromission {
        text-align: center;
    }

    .div5 {
        grid-area: 8 / 1 / 9 / 9;
        width: 100%;
    }

    .div6 {
        grid-area: 2 / 2 / 3 / 8;
    }

    .div5 ul {
        list-style: none;
        display: flex;
        margin-bottom: 0px;
        margin-top: 0px;
        flex-direction: column;
    }

}


@media only screen and (max-width: 380px) {
    .div1 button {
        margin-right: 12%;
        width: 15%;
    }

    .div2 ul {
        gap: 0px;
    }

    .div2 ul li button {
        font-size: 3.5vw;
    }

    .div5 ul {
        list-style: none;
        display: flex;
        margin-bottom: 0px;
        margin-top: 0px;
        flex-direction: column;
    }
}